
<!--

@font-face
 { 
     font-family: 'wc-rhesus-a-bta';
     src: url('../fonts/wc_rhesus/WC_Rhesus_A_Bta.woff') format('woff'),
          url('../fonts/wc_rhesus/WC_Rhesus_A_Bta.ttf') format('truetype');
 }

@font-face
 { 
     font-family: 'baumans';
     src: url('../fonts/baumans/Baumans-Regular.woff') format('woff'),
          url('../fonts/baumans/Baumans-Regular.ttf') format('truetype');
 }

@font-face
 { 
     font-family: 'exo';
     src: url('../fonts/exo/woff-ttf/Exo20-Thin.woff') format('woff'),
          url('../fonts/exo/woff-ttf/Exo20-Thin.ttf') format('truetype'),
	  url('../fonts/exo/OFT/Exo2.0-Thin.otf') format('opentype');
 }

@font-face
 { 
     font-family: 'modernpictograms';
     src: url('../fonts/modernpictograms/modernpics.woff') format('woff'),
          url('../fonts/modernpictograms/modernpics.ttf') format('truetype'),
          url('../fonts/modernpictograms/modernpics.otf') format('opentype');
 }

/* ------------------- */

body {
      min-width:1100px;
      max-width:1300px;

      background-color: #000;
     }

 div {
      margin:0;
      padding:0;

      border:1px solid #000;
     }

 h2 {
     font:1.5em exo, normal;
     color:#FFF;

     text-shadow: 2px 2px #000;
    }

 p { text-shadow: 2px 2px #000; }
 
#page_container, #page_header, #page_footer
 {
  float:left;
  width:100%;

  max-width:1200px;

  background-color:#000;
 }

 #page_header,
 #zine_container
  {
   float:left;
   width:90%;

   margin-left:5%;
  }

 #page_header
 {
  width:85%;

  margin-top:2em;
 }
 
 #page_header #page_heading_left,
 #page_header #page_heading_right
 {
  font:.5em arial, normal;

  color:#FFF;
  
  letter-spacing:1em;

  text-transform:uppercase;
 }

 #page_header #page_heading_left
 { float:left; }
 
 #page_header #page_heading_right
 { float:right; }

 .heading_tagline
  {
   letter-spacing:.7em;

   opacity:.6;
  }

 #gallery_container,
 #text_container
  {
   float:left;
   width:100%;
  }

 .right_column,
 .left_column
  {
   float:left;
   width:49%;
  }

 .one_third_width_column
  {
   float:left;
   width:31%;

   border:0;
  }

 .one_third_width_column #starpunk_zine_centre_logo_container
  {
   position:relative;
      
   float:left;
      
   width:99%;
   height:88%;
   
   padding:10% 0 0 0%;
   
   border:0;

   text-align:center;

   color:#FFF;
  }

 .one_third_width_column #starpunk_zine_centre_logo_container .spatterdot
  {
   position:absolute;

   float:left;
   width:95%;
  
   opacity:.3;

   border:0;

   font:5em 'wc-rhesus-a-bta', normal;
   color:#FF00FF;
  }

 .one_third_width_column #starpunk_zine_centre_logo_container .centre_logo
  {
   position:absolute;

   float:left;
   width:94%;

   border:0;
  }

 .one_third_width_column #starpunk_zine_centre_logo_container .centre_logo .starpunk_logo_top_text,
 .one_third_width_column #starpunk_zine_centre_logo_container .centre_logo .starpunk_logo_bottom_text
  {
   float:left;
   width:100%;
   
   font:.6em arial, normal;

   letter-spacing:1em;
   
   text-transform:uppercase;

   border:0;
  }

 .one_third_width_column #starpunk_zine_centre_logo_container .centre_logo .starpunk_logo_bottom_text
  {
   margin-top:1.2em;

   border:0;
  }
 
 .one_third_width_column #starpunk_zine_centre_logo_container .centre_logo .starpunk_logo_icon
  {
   float:left;
   width:100%;

   font:5em arial, normal;

   border:0;
  }

 #zine_container #row_1,
 #zine_container #row_3,
 #zine_container #row_4
 {
  float:left;

  width:100%;
  height:12em;
 }

 .gallery_image
  {
   float:left;

   /* rem: set general positioning attributes here; image-specific properties are set on the page [as of 2019.03.02] */
   background-size: cover;
   opacity:.8;
  }

 .gallery_image:hover
  {
   cursor:pointer;
   opacity:1;
  }
 
 /* -- [start] page nav styles --- */

 #zine_page_nav_section_container
  {
   float:left;
   width:93%;
  }

 #zine_page_nav_section_container #zine_page_nav_heading
  {
   float:right;

   margin-top:2.3em;
   
   font:.7em 'wc-rhesus-a-bta', normal;
   
   letter-spacing:.7em;
   
   /* font:.7em arial, normal; */
   color:#CCC;
  }

 #zine_page_nav_section_container #zine_tagline_container
  {
   float:left;

   margin-top:.8em;
   
   font:1em baumans, normal;

   color:#999;
  }
 
 #zine_page_nav_section_container #zine_tagline_container #zine_tagline
  {
   float:left;
  }
 
 #zine_page_nav_section_container #zine_tagline_container #zine_tagline #starpunk_dot_zine
  {
   padding-top:.3em;

   border-top:1px solid #333;
  }

 
 #zine_page_nav_section_container #zine_page_nav
  {
   float:right;

   margin:.8em 0 .5em .5em;
   padding:0;

   border-top:1px solid #333;
  }

 #zine_page_nav_section_container #zine_page_nav li
  {
   display:inline;

   float:left;
   
   margin:.5em;
   padding:.7em .8em;
   
   font:.7em arial, normal;
   
   color:#FFF;

   border:1px solid #000;
  }

 #zine_page_nav_section_container #zine_page_nav li:hover
  {
   cursor:pointer;
  }
 
 #zine_page_nav_section_container #zine_page_nav #page_nav_item_selected
 {
  font-weight:bold;
     
  background:rgba(204,102,204, .3);
  color:#FFF;
 }

 
 /* -- [end] page nav styles --- */

 /* --- [start] zine modal window styles */

 #zine_page_modal
  {
   position:absolute;
   z-index: 1;

   width:91%;
   height:75%;

   margin:3em 0 0 1.1em;

   border:2px solid #333;
   background:rgba(0, 0, 0, .8);
  }

 #modal_exit_button:hover
  {
   cursor:pointer;
  }

 #modal_window_nav_menu
  {
   float:left;
   width:99%;

   margin-bottom:1%;
   padding:2px 3px;
   
   background:rgba(0, 0, 0, .4);
   border-bottom:1px solid #222;

   font:1em arial, normal;
   color:#FFF;
  }
 
 #modal_statusline
  {
   position:absolute;
      
   float:left;
   width:98%;

   bottom:0;

   margin:.1em .2em;
   padding:2px 3px;
   
   background:rgba(0, 0, 0, .4);
  }

 #modal_statusline .left_status_box
  {
   float:left;

   border-top:1px solid #222;

   color:rgba(204,102,204, .5);
   font:.8em 'baumans', normal;
  }
 
 #modal_statusline .right_status_box
  {
   float:right;

   border-top:1px solid #222;

   color:rgba(204,102,204, .3);
   font:.8em 'wc-rhesus-a-bta', normal;
  }
 
 #modal_window_logo
  {
   float:left;

   padding:2px 8px;

   background-color:rgba(204,102,204, .3);
  }

  #modal_section_heading
   {
    float:right;

    margin:.2em .1em;
    padding-right:1em;
    
    border-right:1px solid #333;

    font:.8em arial, normal;

    color:#666;
   }
 
 #modal_exit_button
  {
   float:right;
      
   padding:2px 15px;

   border:1px solid #333;
  }

 #modal_window_page_body
  {
   float:left;

   width:95%;
   height:89%;

   padding:1%;
  }

 #modal_window_page_left_pane
  {
   float:left;

   width:71%;
   height:99%;

   margin-right:1%;

   background-color:rgba(0, 0, 0, .5);
   border:1px solid rgba(204,102,204, .3);
  }

 #modal_window_page_right_pane
  {
   float:left;

   width:27%;
   height:95%;

   border:0;
  }

 #right_pane_gallery_container
  {
   float:left;
   width:100%;

   overflow:hidden;
   overflow-y:auto;

   border:0;
  }

 .right_pane_gallery_item
  {
   position:relative;

   float:left;

   width:46%;
   height:22%;

   margin:2px;
 
   background-size:100% 100%;
  }
 
 #modal_window_page_left_pane_main_image
  {
   float:left;

   position:relative;

   width:77%;
   height:97%;

   margin:1% 0 0 11%;

   overflow:hidden;
   overflow-y:auto;
		      
   border:1px solid #000;

   color:#FFF;
   background-size: cover;
 }

 #modal_window_page_left_pane_main_text_container
  {
   position:relative;

   float:left;

   width:100%;
   height:auto;
   
   margin-top:46%;
   padding-left:0;

   background:rgba(0, 0, 0, .3);
  }
 
 #modal_window_page_left_pane_main_text_container h2
 {
  float:left;
  width:98%;

  padding:1em 1%;

  background:rgba(204,102,204, .4);
 }

  #modal_window_page_left_pane_main_text_container p
  { 
   padding:0 1.5em 0 .2em;

   font:.85em arial, normal;
  }
  
  #modal_window_page_left_pane_main_text_container p>a
   {
    color:#FFF;

    text-decoration:none;
    border-bottom:1px solid #666;
   }
  
  .modal_text_container
  {
   position:absolute;
   width:100%;
  }

  #modal_feature_text_container,
  #modal_reality_text_container,
  #modal_dreams_text_container,

  #modal_feature_gallery_container,
  #modal_reality_gallery_container,
  #modal_dreams_gallery_container
  {
   float:left;
   width:100%;
   
   padding-bottom:3px;
   
   border:0;
   
   display:none;
  }
  
  #modal_feature_text_container
  {
   padding-left:.2em;
  }
  
 #modal_dreams_text_container
 {
  position:absolute;
     
  float:left;
  width:100%;
  
  bottom:0;
 }

 #zine_modal_content_menu 
  {
      margin:0 auto 1em 0;
      padding-left:0px;
  }

 #zine_modal_content_menu li
  {
   margin-bottom:.2em;
   padding:.2em .5em;
      
   background:rgba(204,102,204, .3);
   list-style-type:none;

   font:.75em arial, normal;
   
   color:#FFF;
  }

  #zine_modal_content_menu li:hover
  {
   cursor:pointer;
  }

 #zine_modal_content_menu .zine_modal_content_menu_selected_item
 {
  background:rgba(204,102,204, .6);
 }

 .selected_nav_item_star
 {
  float:right;

  display:none;
 }
 
 /* --- [end] zine modal window styles */

 #zine_text_section_container
  {
   float:left;
   width:95%;
  }
 
 #zine_text_section_container #zine_text_left_column,
 #zine_text_section_container #zine_text_right_column
  {
   float:left;
   width:49%;
  }

 #zine_feature_section_container .zine_text_section_header,
 #zine_text_section_container .zine_text_section_header
  {
   float:left;
   width:100%;

   margin:2em 0em 2em 0em;

   font:.6em arial, normal;

   letter-spacing:1em;

   text-transform:uppercase;

   color:#FFF;
  }

  #zine_feature_section_container
  {
   float:left;
   width:97%;
  }
  
 #zine_feature_section_container .zine_text_section_header .spatter_text_heading,
 #zine_text_section_container .zine_text_section_header .spatter_text_heading,
 #modal_feature_text_container .spatter_text_heading
  {
   font:5em 'wc-rhesus-a-bta', normal;
   
   color:#FFF000;

   opacity:.4;
  }
 
 #modal_feature_text_container .spatter_text_heading
  {
   padding-right:2%;

   font-size:1.5em;
  }

 .page_divider
  {
     float:left;
     width:94%;

     margin:2em 0 4em 0;

     text-align:center;
     
     background: linear-gradient(180deg,
				 rgba(0,0,0,0) calc(50% - 1px),
				 rgba(255,255,255,.3) calc(50%),
				 rgba(0,0,0,0) calc(50% + 1px) );
     color:#FFF;
  }
  /* --- credit [linear-gradient]: https://stackoverflow.com/a/39943040  --- */
 
  .page_divider .page_divider_span
  {
   padding:0 10px;

   font:1em arial, normal;
   color:#AAA;

   background-color:#000;
  }

 #zine_text_section_container .zine_text_section
  {
   position:relative;

   float:left;
   width:100%;

   margin-bottom:3px;
   
   border:0;
   background-size:100% auto;

   font:1em arial, normal;

   color:#FFF;
  }

 #zine_text_section_container .zine_text_section .zine_inner_text_body
  {
   float:left;

   width:100%;
   height:27em;

   border:0;
   background-color:rgba(0,0,0, .6);
  }


 #zine_text_section_container .zine_text_section .zine_inner_text_body p
 {
  font:1em baumans, normal;

  line-height:1.2em;   
 }
 
 #zine_text_section_container .zine_text_section .zine_inner_text_body p > a
  {
   color:#FFF;
  }
 
 #zine_text_section_container .zine_text_section .zine_inner_text_body .zine_inner_text_body_content
  {
   float:left;

   width:92%;

   padding:3% 4% 3% 3%;

   border:0;
  }
 
 #zine_text_section_container .zine_text_section .zine_inner_text_body a
  {
   color:#AAA;

   text-decoration:none;

   border-bottom:1px #666 solid;
  }

 .artist_citation_container
  {
   position:absolute;
   bottom:0;

   float:right;
   width:99%;

   margin-bottom:1%;
   padding:0 1% .2em 0;
   
   border:0;
   
   text-align:right;

   font-size:.85em;
  }
 
 .vertical_citation_text
  {
   float:left;
   width:100%;
   
   margin-right:-8em;
   
   border:0;

   letter-spacing:.3em;

   writing-mode:vertical-rl;

   font-size:.5em;
   text-transform:uppercase;
  }
 
 .vertical_citation_text p
  {
   margin:0;
   padding:0;
  }
 
 .vertical_citation_text .social_symbol
  {
   font:4em modernpictograms, normal;    
  }

 .zine_text_item_read_more_icon
  {
   font:1.5em modernpictograms, normal;    
  }
 
 .artist_heading
  {
   float:left;
   width:100%;

   border:0;
   
   font:1em baumans, normal;
   text-shadow: 1px 1px #000;
  }

 .modal_gallery_text_item
  {
   position:relative;

   float:left;
   width:100%;
   
   display:none;

   padding-bottom:1.7em;

   border:0;
  }
 
 .modal_window_read_more_section
  {
   position:absolute;

   float:left;
   width:98%;

   bottom:0px;

   padding:.2em 1%;

   text-align:center;

   background:rgba(204,102,204, .2);

   border:0;
  }
 
 .read_full_story_link
  {
   padding:1px 8px;

   text-decoration:none;
   
   background:rgba(204,102,204, .2);

   font:.8em arial, normal;

   color:#CCC;
  }

 .read_full_story_link .read_more_symbol
  {
   padding:0px 8px;

   background:rgba(204,102,204, .5);
  }

 .right_pane_gallery_item_read_more_container .read_full_story_text
 {
  padding-right:1em;

  background-color:rgba(204,102,204, .1);
 }
 
 .right_pane_gallery_item_read_more_container .read_full_story_link
 {
  float:right;
 }
 
 .right_pane_gallery_item_read_more_container .read_full_story_link .read_more_symbol
  {
   float:right;

   border:0;
  }

 .read_full_story_link .read_full_story_text
 {
  float:right;

  display:none;

  border:0;

  color:rgba(204,102,204, .8);

  letter-spacing:1px;
 }
 
 .right_pane_gallery_item_read_more_container
  {
   position:absolute;
   float:left;

   display:none;
   
   width:98%;

   bottom:0;
   
   padding:2px 2% 2px 0;
   
   border:0;
   
   background-color:rgba(0, 0, 0, .6);
  }
 
 .right_pane_gallery_item_read_more_container .read_more_section
  {
   float:right;

   bottom:0px;

   padding:.2em 1%;

   text-align:center;

   border:0;

   font:.7em arial, normal;
  }
 
/* ------ */

#page_text_feature_section_left_column,
#page_text_feature_section_right_column
{
 float:left;
 width:45%;
    
 font:1em baumans, normal;
 color:#BBB;
}

#page_text_feature_section_left_column
 {
  float:left;
  width:52%;
  
  margin-right:1%;
 }

#page_text_feature_section
 {
  float:left;
  width:95%;
 }

#page_text_feature_image
{
  float:left;
  width:99%;
  
  margin:0 1% 1em 0;
  opacity:.4;
}

#page_text_feature_image_gallery_thumbnails_section
{
 float:left;
 width:100%;

 margin:0;
 padding:0;
}

#page_text_feature_image_gallery_thumbnails_section li
{
 float:left;
 width:23%;

 margin-right:1%;

 list-style-type:none;
}

#page_text_feature_image_gallery_thumbnails_section li img
{
 width:100%;

 opacity:.4;
}

/* --- [start] landing/loading page styles --- ^/

/* --- [start] loading bar styles --- */

#loading_container
 {
  position:absolute;
  z-index:10;

  bottom:20px;

  width:90%;
  height:20px;
 }

#loading_bar
 {
  width:0;
  height:100%;

  padding:3px;

  background-color:#3399CC;

  border:1px solid #3399CC;

  opacity:.5;

  color:#CCFFFF;
 }

#loading_bar_text
 {
  margin-left:1vw;

  font-size:1em;
 }

#landing_page_progress_section_container
 {
  float:left;

  width:100%;

  color:rgba(153,204,255, .6);

 font:.70em wc-rhesus-a-bta, normal;
 }

/* --- [end] loading bar styles --- */



/* --- [start] cover page (page body and loading bar) styles --- */

#cover_logo_container
 {
  position:fixed;

  z-index:25;

  margin:0px;
  padding:1em 0 2em 0;

  bottom:10%;
  left:35%;

  width:6%;

  text-align:center;

  /* background: rgba(0, 0, 0, 0.5); */
 }

#cover_logo_container #cover_logo,
#cover_logo_container #cover_text
 {
  color:#000033;
 }

#cover_logo_container #cover_logo
 {
  background-size:100% 100%;

  font:3em Arial;
 }

#cover_logo_container #cover_text
 {
  margin-top:1em;

  font:.95em 'Mecha Condensed';
 }

#cover_logo_container #cover_logo_box,
#cover_logo_container #password_entry_box
 {
  float:left;
  width:100%;
 }

/* --- */

#landing_page #cover_logo_container
 {
  bottom:auto;
  top:45%;
  left:40%;

  padding-bottom:30px;

  border-top:3px solid #FFF;
}

#landing_page #cover_logo_container #cover_logo
 {
  color:#FFF;
 }

#landing_page #cover_logo_container #cover_text
{
 color:#CCCCFF;
}

#landing_page #cover_logo_container:hover
 {
  /* cursor:pointer; */
 }

#landing_page_progress_container
 {
  float:left;
  width:100%;

  margin-top:20px;
  padding:0px;

  border-top:1px solid #333;
 }

#landing_page_progress_container #loading_container
 {
  position:unset;

  float:left;
  width:100%;

  bottom:10px;

  height:12px;
 }

#landing_page_progress_container #loading_container #loading_bar
 {
  width:0;

  height:100%;

  padding:1px 0px;

  background-color:#FFF;

  border:0px;

  opacity:1;

  font-size:.2em;

  color:#FFF;
 }


#landing_page_progress_percentage_container,
#cover_logo_container #password_entry_box #password_input_container
 {
  float:left;
  width:100%;

  margin-top:4px;
  padding:0px;

  text-align:left;

  font:.85em 'Mecha Condensed';

  color:#FFF;
 }

#landing_page_progress_percentage_container #loading_bar_text
 {
  float:left;

  margin:0px;
  padding:0px;
 }

#landing_page_progress_percentage_container #please_wait,
#landing_page_progress_percentage_container #please_enter
 {
  float:right;

  display:none;

  font-size:.9em;
  color:#CCCCFF;
 }


#landing_page_progress_percentage_container #please_wait
 {
  display:block;
 }

#landing_page_progress_percentage_container #please_enter
 {
  color:#FFF;
 }

#cover_logo_container #password_entry_box #password_input_container
 {
  margin-top:2em;

  display:none;
 }

#cover_logo_container #password_entry_box #password_input_container input
 {
  float:left;
  width:100%;

  background-color:#000;

  border:1px solid #666;

  color:#999;
 }

#cover_logo_container #password_entry_box #password_input_container #enter_site_button
 {
  float:right;
  width:100%;

  margin:3px 0px 0px 0px;
  padding:0px;

  background-color:#000;

  border:1px solid #444;

  color:#999;
 }

/* --- [end] cover page (page body and loading bar) styles --- */


-->